* {
    margin: 0;
    font-family: 'Geist';
}

body {
    background: url('/images/todoList.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
}
#title-heading {
    background-color: rgb(196, 136, 18);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.add-task-container {
    background-color: rgb(121, 82, 4);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input{
    width: 100%;
    height: 30px;
    padding: 0 20px 0 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    color: rgb(5, 125, 5);
}

button:hover {
    background-color: rgb(52, 146, 52);
    color: beige;
}

